.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    width: 100%;
    padding: 100px 60px;
    box-sizing: border-box;
}

.about > .info{
    width: 60%;
}

.about > .profile{
    width: 40%;
    max-width: 250px;
}

.about > .profile > img{
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .about{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 100px 10%;
    }

    .about > .info{
        width: 100%;
    }

    .about > .profile{
        align-self: center;
        width: auto;
        max-width: 250px;
    }
}