.work {
  margin: 10px 40px;
}

.work > .intro {
  padding: 0 50px;
}

.work > .intro > p {
  font-size: xx-large;
}

.work > hr {
  margin: 0;
}

.work > .works {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 40px;
}

.work > .works > .photo {
  width: 100%;
  height: calc((100vw) / 3 - 80px);
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.work > .works > .photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

.work > .works > .photo > img:hover {
  transform: scale(1.1);
}

.work > .works > .photo > p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: white;
  left: 20px;
  text-wrap: nowrap;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.work > .works > .photo:hover > p {
  opacity: 1;
  visibility: visible;
}

.work > .works > .photo > .title {
  top: 10px;
  font-size: 20px;
}

.work > .works > .photo > .description {
  bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .work > .works {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 40px;
  }
  
  .work > .works > .photo {
    width: 100%;
    height: calc((100vw) / 2 - 100px);
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}

@media screen and (max-width: 768px){
  .work > .works {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 40px;
  }
  
  .work > .works > .photo {
    width: 100%;
    height: calc((100vw) - 160px);
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}